<ion-view view-title="Owner Season Statuses">
  <ion-conten>
    <ion-list>
      <ion-item ng-repeat="status in ownerSeasonStatuses" href="#/app/owner-season-statuses/{{status.id}}" ng-click="updateOwnerSeasonStatus(status)">
        {{status.name}}
      </ion-item>
    </ion-list>


  </ion-conten>
</ion-view>
