<ion-view view-title="Owner Location Statuses">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="status in ownerLocationStatuses" href="#/app/owner-location-statuses/{{status.id}}" ng-click="updateOwnerLocationStatus(status)">
        {{status.name}}
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
