<ion-view view-title="Testing d3's line graph simulation">
  <ion-content>
    <body>
    <div class="card range" style="width:300px;">
      <i class="icon ion-thermometer"></i>
      <input type="range" name="temperature">
      <i class="icon ion-thermometer"></i>
    </div>

    <div id="d3graph" ng-bind-html-unsafe="d3graph">

    </div>
    </body>
  </ion-content>
</ion-view>


<!-- Example obtained from https://gist.github.com/mbostock/1642874-->
<style>
  svg {
    font: 10px sans-serif;
  }
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
</style>

